source "Kconfig.zephyr"

config APP_UART_ASYNC_RX_BUFFER_SIZE
	int "Size in bytes of the RX buffers provided to UART driver"
	default 512
	help
	  Increasing this value decreases the number of UART interrupts needed
	  to receive large packets.

config APP_UART_ASYNC_RX_NUM_BUFFERS
	int "Number of RX buffers available to the UART driver"
	default 2
	help
	  This value needs to be at least 2 to avoid buffer starvation.

config APP_UART_ASYNC_RX_TIMEOUT_US
	int "Timeout for flushing RX buffers after receiving no additional data"
	default 3333
	help
	  Decreasing this value can help increase data throughput when high
	  baudrates are used. 3333us is 4 bytes at 9600 baud. Decreasing this
	  value too much can result in spurious interrupts. Leaving it too
	  high can reduce data throughput.

config APP_UART_ASYNC_RX_RETRY_TIMEOUT_MS
	int "How long to wait before retrying RX"
	default 1000

config APP_RINGBUF_SIZE
	int "Size of the RX ringbuffer"
	default 1024

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
