/ {
	chosen {
		app,uart = &usart1;
	};
};

&usart1 {
	dmas = <&dma1 2 3 0x20440>,
	       <&dma1 3 3 0x20480>;
	dma-names = "tx", "rx";
	current-speed = <9600>;
};

&dma1 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		keys: partition@28000 {
			label = "keys";
			reg = <0x00028000 DT_SIZE_K(1)>;
		};
	};
};
