menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "App"
config APP_RINGBUF_SIZE
	int "Size of the TX ringbuffer"
	default 1024
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
